body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
#countdown{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    height: 70px;
    width: 200px;

}